*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

/*-------------------------------------*/
body{
	width: 100%;
	background-color: #EDEEF0;
	font-family: arial;
}

a:hover{
	text-decoration: underline;
}
header{
	width: 100%;
	height: 42px;
	position: fixed;
	background-color: #507299;
	z-index: 100;
}

.Wheader{	
	margin: 0px auto;
	width: 960px;
	height: 42px;
}
.logo{
	position: relative;
	left: 0px;
	width: 150px;
	height: 40px;
	background: url("../img/logotype.png") no-repeat;
	background-size: 38px;
	cursor: pointer;
	float: left;
}

.search{
	margin: 7px auto;
	padding: 0px 10px 0px 30px;
	width: 220px;
	height: 27px;
	border: transparent;
	background: url("../img/search.png") no-repeat #31537A;
	background-position: 7px;
	border-radius: 15px;
	color: #C0CDDB;
	font-size: 12px;
	display: block;
	float: left;
}

.search:focus{
	background-color: #fff;
	color: #000;
}

.lang{
	float: right;
	color: #fff;
	font-weight: bold;
	padding: 13px 10px;
	cursor: pointer;
	font-size: 12px;
}
.lang:hover{
	background-color: #486991;
}

.cull{
	margin: 0px auto;
	border: 1px solid red;
	width: 900px;
	height: auto;
}

.title{
	font-size: 22px;
    line-height: 26px;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
}

.login{
	float: right;
	border: 1px solid #fff;
	border-radius: 5px;
	background-color: #fff;
	width: 270px;
	height: 140px;
	padding: 25px;
}

.inputLog{
	weight:244px;
	height: 19px; 
	padding: 12px;
	border: 1px solid grey;
	border-radius: 3px;
	margin-bottom: 15px;
}

.loginbutton{
	margin: 5px 15px;
	border: 1px solid blue;
	border-radius: 5px;
	background-color: blue;
}